button {
  background-color: red;
  position: absolute; /* Aseta kiinteä sijainti */
  top: 10px; /* Aseta yläreunaan 10 pikseliä */
  right: 10px; /* Aseta vasempaan reunaan 10 pikseliä */
  z-index: 999;
}

.ms-logo {
  position: absolute; /* Aseta kiinteä sijainti */
  top: 10px; /* Aseta yläreunaan 10 pikseliä */
  left: 50px; /* Aseta vasempaan reunaan 10 pikseliä */
  z-index: 999;
  height: 60px;
}

.welcome {
  display: flex;
  align-items: center;
}

.welcome h3 {
  margin-left: 50px;
  margin-top: 30px;
}

.login-to-see {
  text-align: center;
  margin-top: 50px;
}
