<div class="popup">
  <div class="creator">
    <p class="creator-title">Campaign Creator:</p>
    <p class="creator-name">{{ campaignData.creator }}</p>
  </div>

  <h4 *ngIf="campaignData">Name of the Campaign</h4>
  <p>{{ campaignData.name }}</p>
  <h4>Campaign title</h4>
  <p>"{{ campaignData.adtitle }}"</p>
  <h4>Campaign copy</h4>
  <p>"{{ campaignData.adtext }}"</p>
  <h4>Target demographics</h4>
  <p>{{ campaignData.adtarget }}</p>
  <h4>Target area</h4>
  <p>{{ campaignData.adarea }}</p>
  <h4>Budget</h4>
  <p>{{ campaignData.adbudget }} €</p>
  <h4>Duration</h4>
  <p>
    {{ campaignData.adstart | date : "dd.MM.yyyy" }} -
    {{ campaignData.adend | date : "dd.MM.yyyy" }}
  </p>

  <h4>Media for the campaign</h4>
  <p>{{ campaignData.mediainfo }}</p>
  <h4>Url and CTA</h4>
  <p>{{ campaignData.adurl }}</p>
  <h4>Other info</h4>
  <p>{{ campaignData.adother }}</p>
</div>
