<button
  [ngStyle]="{ 'background-color': color }"
  class="btn"
  (click)="showUsers()"
>
  Users
</button>
<table class="users-table" *ngIf="color == 'red'">
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Username</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>
      {{ user.id }}
    </td>
    <td>
      {{ user.firstName }}
    </td>
    <td>
      {{ user.lastName }}
    </td>
    <td>
      {{ user.login }}
    </td>

    <img
      (click)="user.id && deleteUser(user.id)"
      class="delete-icon"
      src="../assets/images/delete-icon.svg"
    />
  </tr>
</table>
