form {
  margin: 15px 25px;
  flex-wrap: wrap;
}

input,
textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

label {
  margin-bottom: 10px;
}

.budget-date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-campaign-save {
  width: 20%;
}
